<!DOCTYPE html>
<html>
  <head>
    <title>Srfootballpool</title>
    <%= csrf_meta_tags %>
    
    </head>

  <body> 
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

		<% if current_user.present? %>
			<% '<a href="users/sign_out">Sign Out</a>' %>
		<% else %>
			<% '<a href="users/sign_in">Sign In</a>' %>
		<% end %>

    <%= yield %>
  </body>
</html>
